@use'custom';


$font-stack: Helvetica, sans-serif;
$primary-color: #b83d24;
$secondary-color: black;
$quad-color: white;



body
    {font: 100% $font-stack;
    color: $primary-color;
    h1
       { color: red;
        background-color: $secondary-color;
    };}
