@use'../custom' as *;

.information{
    background-image: url('../../images/espaço2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 

    height: 90vh;

}