@use'../custom' as *;


.intro-section{
    margin-top: 10vh;
    height: 90vh;
    background-color: $primary;
  
   
    @media (max-width: 991px){
        min-height: 90vh;
        height: 100%
    }

    display: flex;
    flex-direction: column;
    align-items: center;


     .introPatternA{
        background-image: url('../../images/patternC.png');
        
        height: 20vh;
        width: 100%;
     
     }  
     .introPatternB{
        background-image: url('../../images/patternC.png');
        background-position: bottom;
        height: 15vh;
        width: 100%;
     }  

    .introLocal{
        background-image: url('../../images/espaço.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 75vh;
        width: 100%;
        color: white;
        @media (max-width: 991px){

            height: 100%
        }

        article{
        margin: 5% 0% 0% 25%;
        max-width: 500px;
        @media (max-width: 991px){
            width:100%;
            margin: auto;
            margin-top: 12vh;
            padding: 1rem;
        }
            h2{
                font-size: 4rem;
                font-weight: 800;
                margin-bottom: 5vh;
                span{
                    color: $secondary;
                }
            }
            h3{
                font-size:1.2rem;
            }
        }

    }
    
    
}

