@use'../custom' as *;

.socialCarrouselContainer{
    background-image: url('../../images/gold.png');
    background-size: cover;
    background-position:  center;
    height: 95vh;

    @media (max-width: 991px){
        background-size: cover;
    }

    h3{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 5vh;
        font-size: 75px;
        font-weight: 800;
        @media (max-width: 991px){
         
            font-size: 64px;

            
    
        }
    }

    .socialCarrouselBackground{
        margin-top: 10vh;
        width: 100%;

        height:52vh;
        background-image: url('../../images/pattern.png');
        background-size: fit;
        background-repeat: repeat;
     
    }

    .socialCarrousel{
            width: 100%;

            justify-content: space-around;
            align-items: center;
            display: flex;
            flex-direction: row;

            padding-top: 4.5vh;
            align-items: center;
            overflow:hidden;

            img{
                min-width: calc(100vw/6);
                height:41vh;
       
                @media (max-width: 991px) {
                    min-width: calc(100vw/3);
                }
              
            }
          
            @media (max-width: 991px) {
                .hideable{
                    margin: 0 auto;
                    justify-content: center;
                    display: none;
                }
                
          }

        a:hover{
            cursor: pointer;
           
        }  

        .filtroPrimary{
            background: rgba(184,61,36,0.5);
            
            display: none;
            position: relative;

            bottom: 41vh;
            margin-bottom: -41vh;
          
            min-width: calc(100vw/6);
            height:41vh;
   
            @media (max-width: 991px) {
                min-width: calc(100vw/3);
            }
         
            
        }
            a:hover span.filtroPrimary{
                display:block;
                
             
    
    }
    }

}