@use'../custom' as *;

.socialCarrousel{
    background-image: url('../../images/gold.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    min-height: 90vh;
}